<!DOCTYPE>
<html>
<head>
    <title>Subscribe to most popular ImgUr photos</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css"/>
</head>
<body>
<h1>Subscribe  to most popular ImgUr photos!</h1>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="name" placeholder="What is your name"
           value="{{ form.name.value|default:"" }}">
    <div class="name-errors">{{ form.name.errors }}</div>
    <input type="email" name="email" placeholder="Enter email"
           value="{{ form.email.value|default:"" }}">
    <div class="email-errors">{{ form.email.errors }}</div>
    <input type="submit" value="Subscribe!">
</form>
</body>
</html>